﻿body {
    overflow:hidden;
    font-family:ＭＳ ゴシック;
}

div#game_area{
    position:absolute;
    top:0px;
    left:0px;
    background-color:#987654;
    width:500px;
    height:600px;
}
div#game_area h1{
    position:absolute;
    top:0px;
    left:0px;
}

div#game_area canvas#red_box{
    z-index:1;
    position:absolute;
    background-color:#ffffff;
    top:110px;
    left:10px;

}

div#game_area table#box{
    z-index:1;
    background-color:#000000;
    position:absolute;
    top:460px;
    left:10px;
    text-align:center;
    color:#ffd800;

}
div#game_area table#box tr.cell{
    background-color:#0000ff;
}
div#game_area table#box tr.cell td{
    height:40px;
}
div#kurosiro{
    z-index:1;
    overflow:visible;
    font-size:45px;
    vertical-align:middle;
    width:180px;
    height:90px;
    background-color:#ffffff;
    position:absolute;
    top:10px;
    left:190px;
}
div#game_area div#log{
    z-index:1;
    overflow:scroll;
    width:100px;
    height:580px;
    background-color:#00FFFF;
    position:absolute;
    top:10px;
    left:390px;
}
div#game_area div#decision{
    z-index:3;
    overflow:visible;
    font-size:100px;
    color:#ff00ff;
    width:500px;
    height:0px;
    text-align:center;
    position:absolute;
    top:250px;
    left:0px;
}

div#game_area div#updatebutton{
    z-index:3;
    padding:5px 5px 5px 5px;
    overflow:visible;
    font-size:30px;
    color:#ffffff;
    text-align:center;
    position:absolute;
    top:350px;
    left:300px;
}