﻿body {
    overflow:hidden;
    font-family:Arial;
    background-color:black;
    font-size:36px;
}
p{
    color:#000000;
}



div#titlegamen{
    position:absolute;
    background-color:white;
    top:0px;
    left:0px;
    width:1024px;
    height:768px;
    text-align:center;
}
div#titlegamen h1{
    position:absolute;
    top:50px;
    left:500px;
}
div#titlegamen table#button{
    position:absolute;
    background-color:black;
    color:#ffffff;
    top:668px;
    left:0px;
    width:1024px;
    height:100px;
    vertical-align: middle;

}
div#titlegamen table#level{
    position:absolute;
    background-color:black;
    color:#ffffff;
    top:200px;
    left:512px;
    width:400px;
    height:200px;
    vertical-align:middle
}

div#titlegamen div#setumei{
    position:absolute;
    background-color:white;
    top:500px;
    width:1024px;
    font-size:30px;
    text-align:center;
}
div#titlegamen div#highscore{
    position:absolute;
    color:#000000;
    top:0px;
    left:0px;
    font-size:30px;
}



div#gamegamen{
    position:absolute;
    top:0px;
    left:0px;
}
div#gamegamen canvas#red_box{
    position:absolute;
    top:0px;
    left:0px;
}
div#gamegamen div#score{
    overflow:hidden;
    position:fixed;
    top:0px;
    left:0px;
    color:#ffffff;
    width:1024px;
    height:36px;
}
div#gamegamen div#aaaa{
    overflow:hidden;
    position:fixed;
    top:150px;
    left:0px;
    font-size:100px;
    color:#ffffff;
    width:1024px;
    height:200px;
    text-align:center;
}



div#resultgamen{
    position:absolute;
    background-color:black;
    color:#ffffff;
    top:0px;
    left:0px;
    width:1024px;
    height:768px;
    text-align:center;
}
    div#resultgamen h1 {
    position:absolute;
    color:#ffffff;
    top:100px;
    left:0px;
    width:1024px;
    text-align:center;
    }

div#resultgamen table#res{
    position:absolute;
    background-color:black;
    top:350px;
    left:0px;
    width:1024px;
    height:150px;
    vertical-align: middle;
}
div#resultgamen div#text{
    position:absolute;
    top:600px;
    left:500px;
    width:524px;
    height:100px;
}
